<!DOCTYPE html>
<html>
<head>
    <meta charset="'utf-8">
    <title>Document</title>
</head>
<body>

    <!--캔버스의(화면에 구현할) 사이즈 정하기-->
    <canvas id="canvas" width="600" height="600"></canvas>
    <!--THREE.js 가져오기-->
    <script type="importmap">
        {
            "imports": {
              "three": "https://unpkg.com/three@0.141.0/build/three.module.js",
              "GLTFLoader" : "https://unpkg.com/three@0.141.0/examples/jsm/loaders/GLTFLoader.js"
            }
          }
    </script>
    
    <script type="module">
        import {GLTFLoader} from 'GLTFLoader';
        import * as THREE from 'three';

        let renderer = new THREE.WebGLRenderer({
            canvas : document.querySelector('#canvas'), antialias : true
        });
        renderer.outputEncoding = THREE.sRGBEncoding;
      
        let scene = new THREE.Scene();
        scene.background = new THREE.Color('white');

        let camera = new THREE.PerspectiveCamera(30, 1);
        camera.position.set(0, 0, 7);
        
        let light = new THREE.DirectionalLight(0xffff00, 10);
        scene.add(light);
      
        let loader = new GLTFLoader();
        loader.load('shiba/scene.gltf', function(gltf){
            scene.add(gltf.scene);

          function animate(){
              requestAnimationFrame(animate)
              gltf.scene.rotation.y -= 0.01;
              // gltf.scene.rotation.x -= 0.1;
              renderer.render(scene, camera);
          }
          animate();
        });
    </script>
</body>
</html>